{% extends 'base.html.twig' %}
        {% block title %}
            Mes quartiers
        {% endblock %}
        {% block body %}
        

        <div class="container">
            {% apply upper %}
                Quartiers
            {% endapply %}

            <div class="end">
                <a class="btn btn-primary" href={{path('app_insert_quartier')}}>Insert</a>
            </div>
            <div class="table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr scope="col">
                            <td scope="col">Nom du commune</td>
                            <td scope="col">Quartier de</td>
                            <td scope="col">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for quartier in quartiers %}
                        <tr>
                                <td>{{ quartier.commune.nomCommune }}</td>                                    
                                <td>{{ quartier.libelleQuartier }}</td>                                    
                                <td>
                                    {# <input type="hidden" name="_token" value="{{ csrf_token('delete_commune' ~ commune.id) }}"> #}
                                    <a class="btn btn-secondary" href={{path('app_delete_quartier', {'id': quartier.id})}}>Delete</a>
                                    <a class="btn btn-danger" href={{path('app_edit_quartier', {'id': quartier.id})}}>Edit</a>
                                </td>                                    
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>            

            
        {% endblock %}